*{
    margin: 0%;
    padding: 0%;
    font-family: 'Bree Serif', 'Play', sans-serif;
}

body{
    background-image: url("https://images.unsplash.com/photo-1525278070609-779c7adb7b71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=730&q=80");
}

.calculation_home_page {
    text-align: center;
    justify-content: center;
    margin: 12px;
    padding: 4px;
    font-size: 34px;
    color: #053191;
    font-weight: bolder;
    font-variant: small-caps;
    text-decoration: 1px solid grey underline;
    /* border-bottom: 1px solid grey; */
}

.home {
    display: flex;
    flex-direction: row;
}

#from {
    margin: 10px;
}

#to {
    margin: 10px;
}

#main {
    text-align: center;
    justify-content: center;
}

.btn {
    margin: 20px;
    padding: 5px;
}

#convert {
    width: 90px;
}

.text1 {
    font-size: 20px;
}

input[type=number] {
    width: 30%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    height: 60px;
    border-bottom: 3px solid #1b27cee7;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    box-shadow: 4px 4px 5px black;

}

input[type=number]:focus {
    border: 3px solid #1b26ce;
    border-radius: 7px;
}

#explaination {
    width: 30%;
    height: 330px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid green;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.selection {
    width: 10%;
    padding: 8px 10px;
    font-size: 18px;
    margin: 8px;
    height: 60px;
    border-radius: 4px;
    border: 2px solid green;
    box-shadow:3px 3px 4px green;

}

button {
    color: blue;
    border: 2px solid blue;
    height: 25px;
    text-align: center;
    justify-content: center;
    width: 60px;
    background-color: white;
    border-radius: 8px;
    padding: 1px;
    margin: 12px;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 4px 4px 5px blue;

}
button:hover {
    box-shadow: none;
}
html {
    scroll-behavior: smooth;
}
#direction{
    display: inline-block;
    width: 200px;
}
#direction div{
    padding: 5px;
    margin: 5px;
    color: blue;
    font-size: 120%;
}

.checkpoint {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkpoint input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .checkpoint:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkpoint input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkpoint input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkpoint .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }